html,body {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
}

/*nasze klasy pomocnicze oraz ogólne style dla tagów*/

img { max-width: 100% }

h1, h2, h3 {
  font-weight: 300;
  margin: 0px;
  text-align: center;
  padding: 0px;
  color: #fff
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px
}

h2 {
  font-size: 1.4rem
}

.page-width {
  max-width: 1080px;
  width: 100%;
  margin: auto auto
  
}

.page-width h1 {
  margin-bottom: 40px
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 120px 0px;
  posiiton: relative
}

.center-container {
  display: table;
  width: 100%;
  height: 50vh;
}

.centered-content {
  display: table-cell;
  vertical-align: middle
}

p {
  color: #ffffff;
  margin-bottom: 20px
}

p img {
  vertical-align: middle;
  float: right
}

a {
  text-decoration: none;
  color: #3ab0a4
}

a:hover, a:active, nav > ul li.active > a {
  color: #ffd419
}

/* rozwijane menu */

nav > ul > li {
  position: relative; 
  display:inline-block;
  padding: 10px 0px
}

nav > ul ul.visible {
  display: block;
}

nav > ul ul {
  display: none;
  position: absolute;
  top: 39px;
  left: 0px;
  background: #ffffff;
  padding: 10px 30px;
  width: 120px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}


nav > ul ul li {
  margin: 0px;
  margin-bottom: 10px
}





/*stylowanie nagłówka*/

header {
  position: fixed;
  width: 100%;
  background: #ffffff;
  padding: 10px 0px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px
}



header nav {
  float: right;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 20px 0px
}

header ul {
  list-style: none;
  padding: 0px;
  margin: 0px
}

header nav li {
  float: left;
  margin-left: 20px
}

nav a {
  font-weight: 300
}

/* stylowanie strony głównej */

.main-page {
  background: url(../img/mainpage.png) no-repeat center center
}


/* stylowanie strony about */

.about-page {
  background: #181f27
}

.about-page article {
  width: 50%;
  display:inline-block;
}

.about-page img {
  width: 40%;
  display: inline-block;
  float: right
  
}

/*menu*/
button#show-menu {
  display: none;
  border: none;
  background: none;
  font-size: 1.4rem;
  float: right;
  outline: none;
}

@media screen and (max-width: 480px) {
  header nav{
    display: none;
    float: none;
  }

  nav.visible {display: block;}

  button#show-menu {
    display: block;
  }
  header nav li {
    width: 100%;
    text-align: center;
    float: none;
    margin-left: 0px
  }
  nav > ul ul {
    display: block;
    position: relative;
    width: 100%;
    top: 10px;
    background: #FFFFBA;
    font-size: 0.7em;
  }
}