/*====================================== reset.css is here ========================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
}
abbr, acronym {
	border: 0;
}
.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.last {
	margin: 0 !important;
}
.pad_last {
	padding: 0 !important;
}
.no_bg {
	background: none !important;
}
/**************************************************************************************/
a {
	color: #000;
	text-decoration: none;
	outline: 0 none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a:active {
	color: #FF7F00;
	text-decoration: none;
}
html {
	height: 100%;
	font-size: 16px;
}
body {
	color: #B1B1B1;
	background-color: #FFFFFF;
	font-family: "Open Sans", "Arial", Verdana, Tahoma;
	height: 100%;

}
.wrapper {
	margin: 0 auto;	
	width: 100%;
	min-height: 100%;
	height: auto !important;
	position: relative;
	font-size: 1.2rem;
}
/*header*/
.header {
	width: 100%;

}
.header-container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 22px 0;
	height: 50px;
}
.header-container .logo {
	display: inline-block;
	float: left;
	padding-left: 34px;
}
.header-container .logo a {
	font-size: 2.3em;
	color: #FF0000;
	font-weight: bolder;
}

.header-container .slogan {
	float: right;
	padding: 30px 20px 5px 0;
	display: inline-block;
}
.header-container .slogan p {
	color: #000000;
	font-size: 0.7em;
	font-weight: bolder;
}
.logo_src {
	max-height: 65px;
	margin-left: 50px;
	margin-top: 15px;
}
/*header-end*/
/*nav*/
.nav {
	width: 100%;
	height: 51px;

}
.nav-in {
	width: 100%;
	margin: 0 auto;
}
.nav-in ul {
	width: 80%;
	margin: 0 auto;
}
.nav ul li {
	float: left;
	position: relative;
	margin: 0 0 0 41px;
	padding: 16px 37px 16px 0;
}
.nav .nav-in ul li a {
	font-size: 1.1em;
	color: #000000;
	transition-duration: 450ms;
	font-weight: bolder;
}
.nav .nav-in ul li a:hover {
	color: #FF0000;
}

.nav .nav-in ul li ul {
	display: none;
	width:140px;
	position: absolute;
	background :#ffffff;
	top: 50px;
	left:0px;
}

.nav .nav-in ul li ul.visible {
	display: block;
}
/*nav-end*/
/*container*/
.container {
	max-width: 100%;
	width: 1080px;
	margin: 0 auto;
	padding: 20px 0 24px 0;
	background: #F1F1F1;
}
.container .container-in {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 80px 0;
}
.container .container-in img {
	padding: 0 0 20px 0;
}
.read {
	height: 100%;
}
.about {
	min-height: 600px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}
.offer {
	min-height: 600px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}
.about p {
	font-size: 0.8em;
	color: #000000;
	font-weight: normal;
	text-align: center;
	line-height: 20px;
	padding: 0 9px 27px 9px;
}
.offer p {
	font-size: 0.8em;
	color: #000000;
	font-weight: normal;
	text-align: justify;
	line-height: 20px;
	padding: 0 9px 27px 9px;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	float: left;	
}
/*container-end*/
/*footer*/
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #333333;
}
.footer-in {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 36px 0 36px 0;
}
.copy{
	float: right;
	display: inline-block;
	margin: 0 15px 0 0;
	font-weight: normal;
	font-size: 0.65em;
}
.copy p {
	color: #999999;
}
.copy a {
	color: #999999;
	text-decoration: underline;
}
.copy a:hover {
	text-decoration: none;
}
.adress p {
	color: #999999;
}
.adress {
	float: left;
	margin: 0 0 28px 28px;
	font-weight: normal;
	font-size: 0.65em;
}
/*footer-end*/
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	color: #FF0000;
}
	img {
		max-width: 100%;
	}
	.clear{
		clear: both;
	}

button#show-menu {
  display: none;
  border: none;
  background: none;
  font-size: 1.4rem;
  float: right;
  outline: none;
}

@media screen and (max-width: 1210px)
{
	html {
		font-size: 14px;
	}
}
@media screen and (max-width: 768px)
{
	html {
		font-size: 12px;
	}
	.logo_src {
	margin-top: 0px;
}
	.header-container .slogan {
		display: none;
	}
}
@media screen and (max-width: 480px)
{
	.about{
		min-height: 100px;
	}
	html {
		font-size: 10px;
	}
	.logo_src {
	margin-top: 0px;
	}
	  .nav{
    display: none;
    float: none;
    height: 96px;
  	}

  	.nav.visible {display: block;}

  	button#show-menu {
    	display: block;
  	}
  	.nav .nav-in li {
	    width: 100%;
	    text-align: center;
	    float: none;
	    margin-left: 0px
	  }
  	.nav > ul ul {
    	display: block;
    	position: relative;
    	width: 100%;
    	top: 10px;
    	background: #FFFFBA;
    	font-size: 0.7em;
  	}
  	.header-container {
		height: 50px;
	}
}

