/*====================================== reset.css is here ========================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
}
abbr, acronym {
	border: 0;
}
.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.last {
	margin: 0 !important;
}
.pad_last {
	padding: 0 !important;
}
.no_bg {
	background: none !important;
}
/**************************************************************************************/
a {
	color: #000;
	text-decoration: none;
	outline: 0 none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
/*----------------------------------------------------------------------------------*/
/*wrapper*/
html {
	height: 100%;
}
body {
	color: #B1B1B1;
	font-size: 12px;
	background-color: #F4F4F4;
	font-family: "Arial", Verdana, Tahoma;
	height: 100%;
}
.wrapper {
	margin: 0 auto;
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	position: relative;
}
.header {
	background: #1CA6D7;
	width: 100%;

}
.header-container {
	width: 980px;
	margin: 0 auto;
	padding: 22px 0;
	height: 35px;

}
.header-container .logo {
	display: inline-block;
	float: left;
	padding-left: 34px;
	-webkit-animation:wjazd 5s;
	animation:wjazd 5s;
}
@keyframes wjazd
{
	0% {transform: translateY(-50px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
}
@-webkit-keyframes wjazd
{
	0% {transform: translateY(-50px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
}
.header-container .logo a {
	font-size: 32px;
	color: #FFFFFF;
	font-family: Calibri, Verdana, Tahoma;
	font-weight: normal;
}
.header-container .toll-free {
	float: right;
	padding: 30px 20px 5px 0;
	display: inline-block;
	-webkit-animation:wjazd 5s;
	animation:wjazd 5s;
}
.header-container .toll-free p {
	font-family: Calibri, Verdana, Tahoma;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: lighter;
}
/*nawigacja*/
.nav {
	width: 100%;
	background: url(../images/nav-bg.jpg);
	height: 51px;
}
.nav-in {
	width: 980px;
	margin: 0 auto;
}
.nav-in ul {
	width: 727px;
	margin: 0 auto;
}
.nav ul li {
	background: url(../images/nav-li.png) no-repeat right center;
	float: left;
	margin: 0 0 0 41px;
	padding: 16px 37px 16px 0;
}
.nav .nav-in ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	transition-duration: 450ms;
}
.nav .nav-in ul li a:hover {
	color: #09A6D7;
}
.ped {
	padding-right: 0 !important;
}
.container {
	width: 980px;
	margin: 0 auto;
	padding: 20px 0 24px 0;
	background: #FFFFFF;
}
.container .container-in {
	width: 940px;
	margin: 0 auto;
	padding: 0 0 80px 0;
}
.container .container-in img {
	padding: 0 0 20px 0;
}
.read {
	display: block;
	height: 311px;
}
.read1 {
	width: 301px;
	background: #BBBBBB;
	float: left;
	padding: 26px 0 23px 0;
	margin: 0 18px 0 0;
}
.read1-img1 {
	width: 32px;
	height: 30px;
	margin-bottom: 22px;
	margin-right: auto; 
	margin-left: auto;
}
.read1 h3 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding: 0 0 22px;
	color: #333333;
}
.read1 p {
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-align: center;
	line-height: 20px;
	padding: 0 9px 27px 9px;
}
.read1 a {
	width: 97px;
	margin: 0 auto;
	background: #1CA6D7;
	border-radius: 6px;
	position: relative;
	display: block;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 0 6px;
	transition-duration: 450ms;
}
.read1 a:hover {
	text-decoration: underline;
}
.welcome {
	padding: 16px 20px 16px 20px;
	margin: 28px 0 28px 0;
	background-color: #F6F6F6;
}
.welcome h5 {
	color: #333333;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	padding: 0 0 18px;
}
.welcome p {
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	padding: 0 34px 0 0;
	line-height: 20px;
}
.bottom-cont {
	display: inline-block;
}
.bottom-cont1 {
	width: 264px;
	height: 200px;
	float: left;
	margin: 0 0 0 32px;
	padding: 0 28px 180px 0;
}
.bottom-cont1 h6 {
	color: #333333;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 12px;
	display: inline-block;
}
.bottom-cont1 ul li a {
	color: #1CA6D7;
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 0 12px;
	background: url(../images/arrow-li.png) no-repeat left center;
	line-height: 24px;
	transition-duration: 450ms;
}
.bottom-cont1 ul li a:hover {
	text-decoration: underline;
}
.bottom-cont1 p {
	color: #BBBBBB;
}
.bottom-cont1 span {
	color: #1CA6D7;
	font-weight: normal;
	font-size: 12px;
	display: block;
	line-height: 24px;
	background: url(../images/arrow-li.png) no-repeat left center;
	padding: 0 0 0 13px;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #333333;
}
.footer-in {
	width: 980px;
	margin: 0 auto;
	padding: 36px 0 36px 0;
}
.social-icons {
	float: left;
	padding: 0 0 0 28px;
}
.social-icons ul li {
	float: left;
	display: inline-block;
	margin: 0 10px 0 0;
}
.copy{
	float: right;
	display: inline-block;
	margin: 0 15px 0 0;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
}
.copy p {
	color: #999999;
}
.copy a {
	color: #999999;
	text-decoration: underline;
}
.copy a:hover {
	text-decoration: none;
}
.span-lewy {
	width: 80px;
	float: left;
}
.span-lewy label {
	padding-bottom: 200px;
}
.span-prawy {
	width: 80px;
}
.wciecie-przyciski {
	margin: 0 0 0 80px;
}
.wysrodkowanie {
	margin: 0 0 0 320px;
}
.tabelka{
	border: 1px;
	border-style: solid;
	text-align: center;
	vertical-align: top;
	font-size: 18px;
}
.boldowanie {
	font-weight: bold;
}
td {
	width: 200px;
}
table {
	margin: 0 auto;
}